*{
    justify-content: center;
   margin: 0;
   padding: 0;
   margin-top: 5%;
   
  
    
}
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* padding: 15px; */
    font-size: 30px;
    text-align: center;
    width: 70%;
    background-color: black;
  }
.btn:hover{
    width: 80%;
    background-color:white;
   color: black; 
   
}
